@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4rmuz1');
  src:  url('../fonts/icomoon.eot?4rmuz1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4rmuz1') format('truetype'),
    url('../fonts/icomoon.woff?4rmuz1') format('woff'),
    url('../fonts/icomoon.svg?4rmuz1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-road:before {
  content: "\f018";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-plane:before {
  content: "\f072";
}
.icon-phone:before {
  content: "\f095";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-clipboard:before {
  content: "\f0ea";
}
.icon-paste:before {
  content: "\f0ea";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-file-text:before {
  content: "\f15c";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-library:before {
  content: "\e921";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-road1:before {
  content: "\e9b1";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-codepen:before {
  content: "\eae8";
}
